extends layout 

block content 
    h2 Id: #{userFound._id}
    h3 Username: #{userFound.username}
    p firstname: #{userFound.first_name}
    p lastname: #{userFound.last_name}
    p membership: #{userFound.membership_status}